<header>

    <div class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow d-flex justify-content-between">
        <nav>
            <a class='nav-link' routerLink='/'>Home</a>
            <a class='nav-link'>User</a>
            <a class='nav-link'>Product</a>
            <a class='nav-link'>Order</a>
            <a class='nav-link'>Contact</a>
        </nav>
        <nav class="nav navbar-top-links navbar-right" *ngIf="!users">
            <a class='nav-link' href='login'>Login</a>
            <a class='nav-link' href='register'>Sign up</a>
        </nav>
        <nav class="nav navbar-top-links navbar-right" *ngIf="users">
            Hello {{users}}
            <a class='nav-link' href=''>Home</a>
            <a class='nav-link' (click)="logout()" href=''>Log out</a>
        </nav>

    </div>

</header>
